@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.employee{
    border-radius: 30px;
    font-family: 'Poppins';
    width: 50%;
    border: 3px solid black;
    margin: auto;
    position: relative;
padding-top: 80px;
}
.employee p {
  margin-left: 30px;
font-size: 20px;
}

input{
    border: 2px solid green;
    width: 200px;
    height: 30px;
    position: absolute;
    left: 280px;
    top: 100px;
}
input:hover{
    border-color: yellow;
}
h1{
    margin-top: -50px;
    margin-left: 320px;
    margin-bottom: 70px;
}
select{
  position: absolute;
  left: 500px;
  top: 106px;
}